<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <form action="/gen_contract1" method="post">

        <input type="text" name="cnpj" placeholder="CNPJ">
        <input type="text" name="cpf" placeholder="cpf">
        <input type="text" name="rg" placeholder="rg">
        <input type="email" name="email" placeholder="email">

        <input type="submit" value="Próximo">

    
    </form>

</body>

</html>