<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
</head>

<body>
    <form action="/" method="get">
        <h3> Parece que ocorreu um erro inesperado</h3>
        <input type="submit" value="Tentar novamente">
    </form>

</body>

</html>