<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>

  <style>
    body {
      font-family: 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f1f1f1;
    }

    .form_container {
      max-width: 500px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    label {
      font-weight: bold;
      margin-top: 10px;
    }

    select {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 25px;
    }

    input[type="submit"] {
      width: 100%;
      background-color: #2a2a2a;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 25px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #2a2a2a;
    }
  </style>
</head>

<body>
  <div class="messages">
    <% if (message) { %>
      <div class="error-message">
        <%= message="TESTE" %>
      </div>
      <% } %>
  </div>
  <div class="form_container">
    <form action="/select_route" method="get">
      <h2>Selecione um tipo de contrato</h2>
      <label for="opcoes">Escolha uma opção:</label>
      <select id="opcoes" name="opcao">
        <!-- "value" need be "contract_n", it's the route names! -->
        <option value="contract_1">Prestação de serviço</option>
        <option value="contract_2">Opção 2</option>
        <option value="contract_3">Opção 3</option>
      </select>
      <br>
      <input type="submit" value="Enviar">
    </form>
  </div>

</body>

</html>