<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/signup" method="post">
        <input type="email" name="email" id="">
        <input type="password" name="password" id="">
        <input type="submit" value="Entrar">
    </form>
</body>

</html>